*DS_Store
*r_import
.Rhistory
~/scripts/annotation/exac_v1/s01_vep_annotation_ddr_exac.log
~/scripts/annotation/exac_v1/s01_vep_annotation_ddr_exac.sh
~/scripts/annotation/exac_v1/s01_vep_annotation_or_exac.log
~/scripts/annotation/exac_v1/s01_vep_annotation_or_exac.sh
~/scripts/data_analysis/norm_variant/
~/scripts/filtration/af_filt/exac_v1/r01_af_filtering_exac_full_ddr.html
~/scripts/filtration/af_filt/exac_v1/r01_af_filtering_exac_full_ddr.Rmd
~/scripts/filtration/af_filt/exac_v1/r01_af_filtering_exac_full_or.html
~/scripts/filtration/af_filt/exac_v1/af_filt/r01_af_filtering_exac_full_or.Rmd
~/scripts/filtration/af_filt/exac_v1/r01_af_filtering_exac_full_or.html
~/scripts/filtration/af_filt/exac_v1/r01_af_filtering_exac_full_or.Rmd
~/scripts/filtration/lof_filt/exac_v1/r01_lof_filtering_exac_full_ddr.html
~/scripts/filtration/lof_filt/exac_v1/r01_lof_filtering_exac_full_ddr.Rmd
~/scripts/filtration/lof_filt/exac_v1/r01_lof_filtering_exac_full_or.html
~/scripts/filtration/lof_filt/exac_v1/r01_lof_filtering_exac_full_or.Rmd
~/scripts/filtration/lof_filt/exac_v1/r02_lof_filtering_exac_full_ddr.html
~/scripts/filtration/lof_filt/exac_v1/r02_lof_filtering_exac_full_ddr.Rmd
~/scripts/filtration/lof_filt/exac_v1/r02_lof_filtering_exac_full_or.html
~/scripts/filtration/lof_filt/exac_v1/r02_lof_filtering_exac_full_or.Rmd
~/scripts/filtration/mis_filt/exac_v1/r01_mis_filtering_exac_full_ddr.html
~/scripts/filtration/mis_filt/exac_v1/r01_mis_filtering_exac_full_ddr.Rmd
~/scripts/filtration/mis_filt/exac_v1/r01_mis_filtering_exac_full_or.html
~/scripts/filtration/mis_filt/exac_v1/r01_mis_filtering_exac_full_or.Rmd
~/scripts/filtration/mis_filt/exac_v1/r02_mis_filtering_exac_full_ddr.html
~/scripts/filtration/mis_filt/exac_v1/r02_mis_filtering_exac_full_ddr.Rmd
~/scripts/filtration/mis_filt/exac_v1/r02_mis_filtering_exac_full_or.html
~/scripts/filtration/mis_filt/exac_v1/r02_mis_filtering_exac_full_or.Rmd
~/scripts/filtration/nc_filt/exac_v1/r01_nc_filtering_exac_full_ddr.html
~/scripts/filtration/nc_filt/exac_v1/r01_nc_filtering_exac_full_ddr.Rmd
~/scripts/filtration/nc_filt/exac_v1/r01_nc_filtering_exac_full_or.html
~/scripts/filtration/nc_filt/exac_v1/r01_nc_filtering_exac_full_or.Rmd
~/scripts/filtration/nc_filt/exac_v1/r02_nc_filtering_exac_full_ddr.html
~/scripts/filtration/nc_filt/exac_v1/r02_nc_filtering_exac_full_ddr.Rmd
~/scripts/filtration/nc_filt/exac_v1/r02_nc_filtering_exac_full_or.html
~/scripts/filtration/nc_filt/exac_v1/r02_nc_filtering_exac_full_or.Rmd
~/scripts/filtration/qual_filt/exac_v1/r01_qual_filtering_exac_full_ddr.html
~/scripts/filtration/qual_filt/exac_v1/r01_qual_filtering_exac_full_ddr.Rmd
~/scripts/filtration/qual_filt/exac_v1/r01_qual_filtering_exac_full_or.html
~/scripts/filtration/qual_filt/exac_v1/r01_qual_filtering_exac_full_or.Rmd
~/scripts/preprocessing/exac_v1/s01_flag_multiallelics_exac_ddr_gatk3.log
~/scripts/preprocessing/exac_v1/s01_flag_multiallelics_exac_ddr_gatk3.sh
~/scripts/preprocessing/exac_v1/s01_flag_multiallelics_exac_or_gatk3.log
~/scripts/preprocessing/exac_v1/s01_flag_multiallelics_exac_or_gatk3.sh
~/scripts/preprocessing/exac_v1/s01_select_genes_exac_ddr_gatk4.log
~/scripts/preprocessing/exac_v1/s01_select_genes_exac_ddr_gatk4.sh
~/scripts/preprocessing/exac_v1/s01_select_genes_exac_or_gatk4.log
~/scripts/preprocessing/exac_v1/s01_select_genes_exac_or_gatk4.sh
~/scripts/preprocessing/exac_v1/s01_split_multiallelics_exac_ddr_bcftools.log
~/scripts/preprocessing/exac_v1/s01_split_multiallelics_exac_ddr_bcftools.sh
~/scripts/preprocessing/exac_v1/s01_split_multiallelics_exac_or_bcftools.log
~/scripts/preprocessing/exac_v1/s01_split_multiallelics_exac_or_bcftools.sh
~/scripts/preprocessing/file_qc/s01_preprocessing_qc_exac_ddr.log
~/scripts/preprocessing/file_qc/s01_preprocessing_qc_exac_ddr.sh
~/scripts/preprocessing/file_qc/s01_preprocessing_qc_exac_or.log
~/scripts/preprocessing/file_qc/s01_preprocessing_qc_exac_or.sh
~/scripts/r_import/exac_v1/r01_import_vcf_exac_full_ddr.html
~/scripts/r_import/exac_v1/r01_import_vcf_exac_full_ddr.Rmd
~/scripts/r_import/exac_v1/r01_import_vcf_exac_full_or.html
~/scripts/r_import/exac_v1/r01_import_vcf_exac_full_or.Rmd